<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bundle.css" type="text/css" />
    <title><%= title %></title>
</head>
<body>
<script src="../location.js"></script>
<div class="div div--page div--firsthomepage">
<h1>Maak een nieuwe discussie aan hieronder</h1>
<form action="/discussion/create" method="post" class="form form--create">
    <label for="question" class="form__label">Titel</label>
    <input type="text" id="questionName" name="questionName" placeholder="Titel discussie..." class="form__input">
    <input type="submit" name="submitLogin" id="submitLogin" value="Maak nieuwe discussie aan" class="btn btn--create">
</form>

</div>
</body>
</html>
