<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bundle.css" type="text/css" />
    <title><%= title %></title>
</head>
<body>
<script src="../location.js"></script>
<h1>Maak een nieuwe discussie aan hieronder</h1>
<form action="/discussion/create" method="post">
    <label for="question">Titel</label>
    <input type="text" id="questionName" name="questionName" placeholder="Titel discussie...">
    <input type="submit" name="submitLogin" id="submitLogin" value="Maak nieuwe discussie aan">
</form>

<a href="/">Ga terug</a>

</body>
</html>
