<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Ontdek hieronder discussies bij jou in de buurt:</h1>
    <ul>
        
        
        
    </ul>
    <div>
        <h2>Om te kunnen reageren gelieve je aan te melden</h2>
        <a href="/login">Login hier</a>
    </div>

    <div>
        <h2>Nog geen account?</h2>
        <a href="/registreer">Registreer je hier</a>
    </div>
</body>

</html>