<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
   <div class="logo">
       <a href="/" id="logoIMD">LOGO</a>
   </div>
    <h1>Ontdek hieronder discussies bij jou in de buurt:</h1>
    <ul>

            <% for(var i=0; i < discussions.length; i++) { %>

                <li><a href="/discussion"><%= discussions[i].question %></a></li>

            <% } %>
        </table>
    </ul>
    <div>
        <h2>Login om te kunnen reageren of om een discussie aan te maken</h2>
        <a href="/login">Login hier</a>
    </div>

    <div>
        <h2>Nog geen account?</h2>
        <a href="/registreer">Registreer je hier</a>
    </div>
    
    <div>
        <h2>Zelf een evenement? Maak hier een discussie aan</h2>
        <a href="/create">Maak een discussie aan</a>
    </div>
</body>

</html>