<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= title %></title>
  </head>
  <body>
    <h1>Hieronder kan u inloggen</h1>
    <form action="" method="post">
        <label for="labelinputUsername">Gebruikersnaam</label>
        <input type="text" id="inputUsername" name="inputUsername">
        <label for="labelinputWachtwoord">Wachtwoord</label>
        <input type="text" id="inputWachtwoord" name="inputWachtwoord">
        <input type="submit" name="submitLogin" id="submitLogin" value="Login">
    </form>
    <h2>Nog geen account?</h2>
    <a href="">Registreer je hier</a>
    
    <a href="">Ga terug</a>
    
  </body>
</html>
