<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Hieronder kan u zich registreren</h1>
    <form action="" method="post">
        <label for="inputUsername">Gebruikersnaam</label>
        <input type="text" id="inputUsername" name="inputUsername">
        <label for="inputEmail">Email</label>
        <input type="text" id="inputEmail" name="inputEmail">
        <label for="inputWachtwoord">Wachtwoord</label>
        <input type="text" id="inputWachtwoord" name="inputWachtwoord">
        <input type="submit" name="submitLogin" id="submitLogin" value="Registreer">
    </form>
    <h2>Reeds een account?</h2>
    <a href="/login">Login via deze link!</a>
    
    <a href="/">Ga terug</a>

</body>

</html>